h1 Welcome to Twitter
p Sign up to start tweeting

a href="/sign_up" Sign up
a href="/sign_in" Sign in

form action="/sign_out" method="post"
  input type="hidden" name="_method" value="delete"
  input type="submit" value="sign out"

= current_user.inspect
